<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{ actor.img }}" data-edit="img" title="{{ actor.name }}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{ actor.name }}" placeholder="Name" /></h1>
    </header>
    <section style="display:flex;">
        <table style="width:50%">
            <tr>
                <th>INT</th>
                <th>REF</th>
                <th>DEX</th>
                <th>BODY</th>
                <th>SPD</th>
                <th>EMP</th>
                <th>CRA</th>
                <th>WILL</th>
                <th>LUCK</th>
            </tr>
            <tr>
                <td><input type="text" name="data.statistics.int" value="{{data.statistics.int}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.ref" value="{{data.statistics.ref}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.dex" value="{{data.statistics.dex}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.body" value="{{data.statistics.body}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.spd" value="{{data.statistics.spd}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.emp" value="{{data.statistics.emp}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.cra" value="{{data.statistics.cra}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.will" value="{{data.statistics.will}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.statistics.luck" value="{{data.statistics.luck}}"  data-dtype="Number" placeholder="0" /></td>
            </tr>
            
        </table>
        <table style="width:50%;">
            <tr>
                <th>STUN</th>
                <th>RUN</th>
                <th>LEAP</th>
                <th>STA</th>
                <th>ENC</th>
                <th>REC</th>
                <th>HP</th>
                <th>VIGOR</th>
            </tr>
            <tr>
                <td><input type="text" name="data.derived.stun" value="{{data.derived.stun}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.run" value="{{data.derived.run}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.leap" value="{{data.derived.leap}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.sta" value="{{data.derived.sta}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.enc" value="{{data.derived.enc}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.rec" value="{{data.derived.rec}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.hp" value="{{data.derived.hp}}"  data-dtype="Number" placeholder="0" /></td>
                <td><input type="text" name="data.derived.vigor" value="{{data.derived.vigor}}"  data-dtype="Number" placeholder="0" /></td>
            </tr>
        </table>
    </section>
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="skills">{{ localize "witcher.skills" }}</a>
        <a class="item" data-tab="inventory">{{ localize "witcher.inventory" }}</a>
        <a class="item" data-tab="magic">{{ localize "witcher.magic" }}</a>
        <a class="item" data-tab="notes">{{ localize "witcher.notes" }}</a>
    </nav>
    <section class="sheet-body">
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h2>{{ localize "witcher.skills" }}</h2>
            awdawdawd
            awd
            awdawdawdawdawda
        </div>
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <h2>{{ localize "witcher.inventory" }}</h2>
            YAYYYYYY
        </div>
        <div class="tab magic" data-group="primary" data-tab="magic">
            <h2>{{ localize "witcher.magic" }}</h2>
            YAYYYYYY
        </div>
        <div class="tab" data-group="primary" data-tab="notes">
            <h2>{{ localize "witcher.notes" }}</h2>
            YAYYYYYY
        </div>
    </section>
</form> 